.App {
  text-align: center;
  display: flex; 
  flex-direction: column;
}

.header{
  height: 60px;
}

.body{
  flex: 1 0 auto;
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leftControls {
  display:flex;
  flex-direction: column;
  width: 25%;
  margin: 0;
  padding:0 25px;
}

.leftControls {
  display: flex;
  flex-direction: column;
}

.rightContent {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.content {
  display:flex;
  margin:10px auto;
  width:50%;
}

.stepCount {
  padding:5px;
  font-size: 12px;
}